* {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN","Meiryo UI","Yu Gothic UI", "MS PGothic", sans-serif;
  color: #292929;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  max-width: 100%;
  width: 100%;
  display: block;
}

.lb {
  font-size: 12px;
  font-weight: bold;
}

.shop {
  font-size: 14px;
}

.attri {
  display: inline-block;
  padding: 3px;
}

.physical {
  background: #cacaca;
}

.electric {
  background: #e6ce78;
}

.ether {
  background: #dcb2f7;
}

.thermal {
  background: #e2b2b2;
}

.gravity {
  background: #cbc8ff;
}

.beam {
  background: #a2ffee;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 50px;
}

#header #weapons {
  display: inline-block;
  width: 100%;
  height: 30px;
}

#kinds {
  height: 100%;
  width: 60px;
  float: left;
  position: fixed;
  left: 0;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

#kinds .swtich {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  position: relative;
  border: 1px solid black;
  border-top: none;
}

#kinds .swtich:first-child {
  border-top: 1px solid black;
}

#kinds .swtich p {
  position: absolute;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
}

#kinds .swtich.knife {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.long {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.shield {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.dual {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.javelin {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.photon {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.assault {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.gatling {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.dualgun {
  height: calc((100% - 50px) / 9);
}

#kinds .swtich.sniper {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.raygun {
  height: calc((100% - 50px) / 8);
}

#kinds .swtich.psycho {
  height: calc((100% - 50px) / 8);
}

#sheat {
  width: calc(100% - 60px);
  margin-left: 60px;
  margin-top: 30px;
  float: left;
}

#container {
  height: 100%;
  width: 100%;
}

#container .page {
  font-size: 15px;
  font-weight: 300;
  padding: 0 10px;
}

#container .page .affix {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

#container .page .affix td {
  border: 1px solid #1c9696;
  background: #cbe4e4;
}

#container .page .affix label {
  display: inline-block;
  width: 140px;
  margin: 5px 0;
}

#container .page .wanted {
  border: 1px solid #d41414;
  background: #d89f9f;
  display: block;
  padding: 5px;
  margin: 5px 0;
}

.none {
  display: none;
}

footer {
  padding: 0 5px;
}

footer .link {
  color: blue;
}

footer .link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  footer .link:hover {
    opacity: 1;
  }
}

.tb_br {
  display: none;
}

@media screen and (max-width: 1024px) {
  .tb_br {
    display: inline-block;
  }
}

.sp_br {
  display: none;
}

@media screen and (max-width: 820px) {
  .sp_br {
    display: block;
  }
}

.sp_none {
  display: inline-block;
}

@media screen and (max-width: 820px) {
  .sp_none {
    display: none;
  }
}

table {
  border-collapse: separate;
  table-layout: auto;
  width: 100%;
}

table th.state {
  width: 60px;
}

table thead th {
  border-bottom: 2px solid #0099e4;
  /*#d31c4a */
  color: #0099e4;
}

table td, table th {
  padding: 0 8px;
  line-height: 25px;
}

@media screen and (max-width: 820px) {
  table td, table th {
    padding: 0 4px;
    line-height: 25px;
  }
}

table tbody tr td, table tbody tr th {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 5px 0px;
}

@media screen and (max-width: 820px) {
  table tbody tr td, table tbody tr th {
    padding: 3px 0px;
  }
}

table tbody tr td.button, table tbody tr td.state {
  text-align: center;
}

table .leftside {
  text-align: left;
}

table td.button {
  width: 20px;
}

table .t_sp {
  display: none;
}

table .t_pc {
  display: table-cell;
}

@media screen and (max-width: 820px) {
  table .t_pc {
    display: none;
  }
  table .t_sp {
    display: table-cell;
  }
  table .name {
    width: 100%;
    text-align: center;
  }
  table .tips {
    font-size: 13px;
    font-weight: bold;
  }
}

tbody tr.done td,
tbody tr.done th {
  background: #f8f8f8;
  color: #bbb;
}

.button,
button,
input[type=button] {
  margin: 5px;
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 0 8px;
  background: #0099e4;
  color: #fff;
  cursor: pointer;
}

.inline-b {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

.state button {
  margin: 5px 0;
}

.active {
  display: block;
}
/*# sourceMappingURL=main.css.map */